.Detail__div{
    width: 100%;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    display: flex;
    margin: auto;
    align-self: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}