
.pagination ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}
.pagination ul li {
    margin: 1.5vh ;
    text-decoration: none;
    list-style:none;
}
a {
    color: white;
    font-size: 2vh;
}